NODE_ENV=development
PORT=5050
BYPASS_AUTH=false

## Logging
LOG_LEVEL=debug

## Database
POSTGRES_HOST=localhost
POSTGRES_PORT=5432
POSTGRES_USER=
POSTGRES_PASSWORD=
POSTGRES_DB=

## CORS
CORS_ORIGIN=http://localhost:3000

## JWT
JWT_SECRET=
JWT_EXPIRES_IN=1h
JWT_REFRESH_SECRET=
JWT_REFRESH_EXPIRES_IN=7d
ACTOR_TOKEN_EXPIRES_IN=5m
TERMINAL_TOKEN_EXPIRES_IN=24h
